# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Database
*.db

# Streamlit
.streamlit/

# VSCode/IDE
.vscode/
.idea/
  

# Ignore large data files
*.csv
*.db
*.sqlite

