streamlit
pandas
sqlalchemy
pdfplumber
openpyxl
yfinance
requests
python-dotenv
apscheduler
sumy            # fallback summarizer (lightweight)
plotly
GoogleNews
numpy
matplotlib
requests
beautifulsoup4
lxml
streamlit_option_menu
